{% extends 'gymtracker/base_gymtracker.html' %}
{% load static %}
{% block title %}Routines{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="workouts">
        <h2>Workouts</h2>
        <a href="{% url 'create_workout' %}" class="btn btn-primary">Create new Workout</a>
        <hr>
        
            {% if workouts %}
            
            <h3>My Workouts</h3>
            <div class="workouts-list">
            <ul>
                {% for workout in workouts %}
                    <li><a href="{% url 'workout_detail' workout.id %}">{{ workout.name}}</a></li>
                {% endfor %}
            {% else %}
            <p>No workouts yet</p>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}

