{% extends 'gymtracker/base_gymtracker.html' %}
{% load static %}
{% block title %}Routines{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="routines">
        <h2>Routines</h2>
        <a href="{% url 'crear_rutina' %}" class="btn btn-primary">Crear Nueva Rutina</a>
        <hr>
        <div class="routines-list">
            {% if workout %}
            <h3>Mis rutinas</h3>
            {% endif %}
            <ul>
                {% for rutina in rutinas %}
    <li>
        <a href="{% url 'detalle_rutina' rutina.id %}">{{ rutina.nombre }}</a>
        <!-- Aquí puedes mostrar más detalles o linkear a otra vista -->
    </li>
    {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

