{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Routines Detail{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ workout.name }}</h2>
    <h4>Created by: {{ workout.user.username }}</h4>

    {% if exercises_with_forms %}
        <div class="exercise-list">
            {% for item in exercises_with_forms %}
                <div class="exercise-item">
                    <h4>{{ item.exercise_workout.exercise.name }}</h4>
                    <p>Description: {{ item.exercise_workout.exercise.description }}</p>
                    <p>Primary Muscle: {{ item.exercise_workout.exercise.primary_muscle }}</p>
                    <p>Secondary Muscle: {{ item.exercise_workout.exercise.secondary_muscle }}</p>
                    <p>Equipment: {{ item.exercise_workout.exercise.equipment }}</p>
                    <p>Rest Time: {{ item.exercise_workout.rest_time }}</p>
                    <p>Order: {{ item.exercise_workout.order }}</p>

                    <h5>Sets:</h5>
                    <ul>
                        {% for set_data in item.set_forms %}
                            <li>
                                <form method="post" action="{% url 'update_set' set_data.set_id %}">
                                    {% csrf_token %}
                                    {{ set_data.form.as_p }}
                                    <button type="submit" class="btn btn-primary">Update Set</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>No exercises added to this workout yet.</p>
    {% endif %}
</div>
{% endblock %}