<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Auth{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <header>
        <nav class="nav">
            <ul class="nav-left">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>

            <ul class="nav-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'tasks' %}">Tasks Pending</a></li>
                <li><a href="{% url 'tasks_completed' %}">Tasks Completed</a></li>
                <li><a href="{% url 'create_task' %}">Create Task</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}

                {% if user.is_authenticated and user.is_superuser %}
            <li><a href="/admin/" class="btn btn-primary">{{user.username}}</a></li>
            {% else %}
            <li><a href="#">{{ user.username }}</a></li>
        {% endif %}
                
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 User Auth App</p>
    </footer>
</body>
</html>
